@font-face{
    font-family : typewriter;
    src : url(/assets/fonts/typewriter2.ttf);
}

.jumbotron {
    background-image: url("../assets/images/coverWhite.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 400px;
    margin-bottom: 0px;
}

.main-name{
    font-family: 'Langar', cursive;
    vertical-align: top;
    text-align: left;
}

.typewriter{
    font-family : 'typewriter',arial;
    text-align: left;
}

.bio{
    text-align: left;
}